/*
!/Flutter/AppFrameworkInfo.plist
!/Flutter/Debug.xcconfig
!/Flutter/Release.xcconfig
!/Runner/
GeneratedPluginRegistrant.*
!/Runner.xcodeproj/
!/Runner.xcworkspace/
xcuserdata/
!/.gitignore
!/Podfile