<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <provider
            android:name="com.yullg.flutter.scaffold.ScaffoldFileProvider"
            android:authorities="${applicationId}.yullg.scaffoldfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yullg_scaffoldfileprovider_paths" />

        </provider>

    </application>

</manifest>
